
/* Hot-fixes */

.hidden { display : none; }

canvas {
    background-color    : black;
    background-position : initial initial;
    background-repeat   : initial initial;
    position : absolute;
    top  : 0;
    left : 0;
}


#modal {
    display : none;
    position: absolute;
    bottom : 7%;
    right  : 5%;

    border-radius : 4px;
    opacity : 0.85;
    padding : 0 20px;
    width  : 350px;
    height : 110px;
    z-index : 20000;

    font-family: 'Verdana', sans-serif;
}

.whiteModal {
    background-color : white;
    color : #121212;
}

.darkModal {
    background-color : #121212;
    color : white;
}

#modal .headline {
    font-size : 1.35em;
}

#modal .details {
    font-size : 0.9em;
}
