
/* Hot-fixes */

.hidden { display : none; }

canvas {
    background-color    : black;
    background-position : initial initial;
    background-repeat   : initial initial;
    position : absolute;
    top  : 0;
    left : 0;
}


#modal {
    border-radius : 4px;
    display : none;

    position: absolute;
    bottom : 7%;
    right  : 5%;

    padding : 0 20px;
    opacity : 0.85;
    z-index : 20000;

    width  : 350px;
    height : 110px;
}

.whiteModal { background-color : white }
.darkModal  {
    background-color : #121212;
    color : white;
}
