
/* Base Styles  */

html, body,
p, a,
ol, ul, li,
img, figure, figcaption,
h1, h2, h3, h4, h5, h6 {
   margin   : 0;
   padding  : 0;
   outline  : 0 none;
   font-weight : normal;
}

html, body {
   overflow   : hidden;

   min-height : 100%;
   min-width  : 100%;

   max-height : 100%;
   max-width  : 100%;

   height     : 100%;
   width      : 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
   text-decoration : none;
}

ol, ul {
   list-style : none;
}

img, figure {
   border  : 0;
}

iframe { border : 0; }

/* Layout */

.columns.two    { width :  16.6%; }
.columns.three  { width :  24.95%; }
.columns.six    { width :  50%; }
.columns.nine   { width :  74.95%; }
.columns.ten    { width :  83.33333333333%; }
.columns.twelve { width : 100%; }

.fat { width : 100%; }
.tall { height : 100%; }

.block  { display: block;  }
.inline { display: inline; }
.hidden { display: none; }

.clear { clear : both; }

.left  { float : left;  }
.right { float : right; }

.auto { margin : auto; }
.center { text-align : center; }



.navbar { margin-bottom : 0; }

    .navbar-inner { border-radius : 0; }

    .navbar .title {
        font-size: 20px;
        font-weight: 200;
        padding : 0;
    }

    .navbar .subtitle {
        padding : 0;
        font-size : 16px;
    }


.header {
    box-shadow: -1px 1px 15px 0 #333;
    z-index: 10;
}

.footer {
    position : absolute;
    bottom : 50px;
    box-sizing : border-box;
    text-align : center;
    padding : 0 15px;
    width : 100%;
}

/* Theme */

.grey { background : grey; }
.whitesmoke { background : whitesmoke; }

.padding {
    padding : 40px 20px;
}

.aside {
    border-right : 1px solid #E5E5E5;
    position : relative;
    min-width : 270px;
}

    .aside .title {
        padding-bottom : 15px;
    }

.min-width {
    min-width: 890px;
}

.nav-list {
  padding : 0;
  padding-top: 20px;
}

.item {
    display : block;
    margin  : 0 -1px -1px;
    padding : 9px 20px;
    border  : 1px solid #E5E5E5;
}

    .item:hover { background-color : #EEE; }
    .item:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .item.active {
        border: 0;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
        -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
        box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
        background-color: #08C;
    }

        .item.active:hover {
            background-color: #08C;
        }

    .item .icon-chevron-right { opacity: 0.25; }
    .item.active .icon-chevron-right { opacity : 1; }

    #framework {
        padding-top : 5px;
    }


@media only screen and (max-width: 1525px) {

    #framework {
        float : none;
        text-align : center;
        padding-bottom: 10px;
        padding-top: 0;
    }

    #framework-selection {
        text-align : center;
    }

    .btn-group {
        float : none;
        text-align : center;
    }

}

@media only screen and (max-width: 1070px) {

    .aside {
        min-width : 25%;
    }

    .visual {
        max-width : 75%;
    }
}
